.odd {
    background-color: #dd5e50;
    font-family: Verdana, DejaVu Sans, Tahoma, sans-serif;
}

#even {
    color: rgb(20, 20, 197);
    font-size: 36px;
}

.odd.three {
    font-size: 24px;
}

#fourth {
    background-color: rgb(182, 227, 115);
    font-size: 24px;
    font-weight: 700;
}



