@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  align-self: center;
  margin-left: 10px;

}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header .left-links {
  display: flex;
 
}

.header .right-links {
  display: flex;
}

.header li {
  gap: 20px;
}

a {
  color: grey;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons{
  display: flex;
  justify-content: center;
}

.input {
  display: flex;
  justify-content: center;
}


.footer {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  padding: 16px;
  margin-top: 155px;
}

.footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footer-container .left-links{
  display: flex;
}

.footer-container .right-links {
  display: flex;
}

.footer li {
  gap: 20px;
}